---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post: CollectionEntry<'posts'>) => ({
    params: { slug: post.id }, props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout>
    <article>
        <header class="mb-12">
            <h1 class="text-4xl font-bold text-stone-900 tracking-tight mt-0!">{post.data.title}</h1>
            <time class="text-stone-400" datetime={post.data.publishedDate.toISOString()}>
                {post.data.publishedDate.toLocaleDateString(undefined, {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                })}
            </time>
        </header>
        <Content />
    </article>
</Layout>
